body {
    background-color: black;
    color: rgba(255,255,255,0.8);
}


#landing{
    height: 100vh;
    background-image: url('URL to your image here!');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}


/* FONTS */

.inconso{
    font-family: 'Inconsolata', monospace;
}

.pacifico{
   font-family: 'Pacifico', cursive;
}


.charmon{
    font-family: 'Charmonman', cursive;
}